
@{
    ViewBag.Title = "order";
}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<h2>order</h2>

<div class="container">

    <label for="#order">Enter order value</label>
    <input type="text" id="t1"/>
    <input type="button" class="btn btn-danger" value="CLick order" id="order" />
</div>
<script>
    $(document).ready(function () {

    })

    $("#order").click(function () {
       
        $.ajax({
            url: '/products/sp1',
            type: 'POST',
            data: { "arg": $("#t1").val()},
            success: function (data) {
                alert('success' + data);
            },
            error: function () {
                alert("error");
            }
        })
    });
</script>